.debugBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.25em;
  background-color: var(--colors-blueGray-400);
  border-top: 2px solid var(--colors-blueGray-800);
}
