<mjml>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text><a href="{{ url }}">Click the link to reset your password!</a></mj-text>
                <mj-text>{{ url }}</mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
