.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (--medium) {
    height: 50%;
  }

  form {
    max-width: 350px;
    width: 100%;
  }
}
