label {
  display: block;
  margin: 0.5em 0 0.125em;
  font-family: inherit;
  font-weight: var(--font-medium);
  font-size: inherit;
  font-style: normal;
  line-height: 1.5;
  text-transform: none;
  letter-spacing: 0;

  color: var(--theme-color);
  background-color: var(--theme-background-color);
  border-radius: var(--theme-border-radius);

  @media (--dark) {
    color: var(--theme-color-darkmode);
    background-color: var(--theme-background-color-darkmode);
  }

  /**
  a {
    color: var(--colors-white);
    text-decoration: none;
  }

  &.inline {
    display: inline-block;
  }

  &:active,
  &:focus,
  &:hover,
  &:visited,
  a[href]:active,
  a[href]:focus,
  a[href]:hover,
  a[href]:visited {
    text-decoration: none;
    color: var(--colors-white);
    background-color: var(--theme-primary-hover);

    @media (--dark) {
      color: var(--colors-gray-800);
      background-color: var(--theme-primary-darkmode-hover);
    }
  }
  */
}
