{
    http_port 8080
    https_port 8090
    auto_https off
}

http://scratchy.localdomain {
    reverse_proxy * 127.0.0.1:3000
}

http://api.scratchy.localdomain {
    reverse_proxy * 127.0.0.1:3001
}
w