{
    debug
    local_certs
    https_port 443
    # email youremail@domain.com
}

scratchy.localdomain/api/* {
    uri strip_prefix /api
    reverse_proxy 127.0.0.1:3001
}

scratchy.localdomain/mail/* {
    uri strip_prefix /mail
    reverse_proxy 127.0.0.1:8026
}

scratchy.localdomain {
    reverse_proxy 127.0.0.1:3000
}

