.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5rem 1rem 1rem 1rem;

  @media (--large) {
    padding-top: 4rem;
  }

  form {
    max-width: 350px;
    width: 100%;
  }
}
