button,
.button,
a.button {
  font-weight: inherit;
  background-color: var(--theme-primary);
  color: var(--colors-white);
  padding: 0.25em 0.5em;
  border-radius: var(--theme-border-radius);
  border: none;
  cursor: pointer;
  display: inline-block;

  &:disabled,
  &.disabled {
    background-color: var(--colors-gray-400);
    cursor: initial;
  }

  &:hover {
    background-color: var(--theme-primary-hover);
  }
}
