{% extends "oauth/layouts/index.njk" %}

{% block main %}
  <p>Here we need to decide if we want to log in with google or with email</p>
  <p>If it is with email, then we should show the following form:</p>


  <a href="/oauth2/google" class="button">Login With Google</a>

  <form action="{{ loginFormAction }}" method="POST">
    <h1>Login</h1>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <fieldset>
      <label>
        Email
        <input type="email" name="email" value="jason@raimondi.us" required>
      </label>
      <label>
        Password
        <input type="password" name="password" value="jasonraimondi" required>
      </label>

      <a href="{{ forgotPasswordLink }}">Forgot Your Password?</a>

      <div>
        <button type="submit" class="button">Login</button>
      </div>
    </fieldset>

  </form>
{% endblock %}

{% block styles %}
  <style>
    .button {
      background-color: tomato;
      color: white;
      padding: 1rem;
      text-decoration: none;
    }


    label {
      display: block;
    }
  </style>
{% endblock %}