{% extends "oauth/layouts/index.njk" %}

{% block main %}
<form action="{{ loginFormAction }}" method="POSt">
    <h1>Login</h1>
    <h2><a href="/login/help">OAUTH LOGIN</a></h2>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <fieldset>
        <label>
            Email
            <input type="email" name="email" value="johanna.runte6@example.net" required>
        </label>
        <label>
            Password
            <input type="password" name="password" value="testing123" required>
        </label>

        <a href="{{ forgotPasswordLink }}">Forgot Your Password?</a>

        <div>
            <button type="submit">Login</button>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block styles %}
<style>
    label {
      display: block;
    }
</style>
{% endblock %}