.notifyList {
  display: flex;
}

.notify {
  color: var(--colors-white);
  margin-right: 1em;
  transition: background-color 0.2s ease;
  border: 2px solid var(--colors-black);
}

.notifyInfo {
  background-color: var(--theme-info);
  border-color: var(--theme-info-hover);
  &:hover {
    background-color: var(--theme-info-hover);
  }
}

.notifySuccess {
  background-color: var(--theme-success);
  border-color: var(--theme-success-hover);
  &:hover {
    background-color: var(--theme-success-hover);
  }
}

.notifyError {
  background-color: var(--theme-error);
  border-color: var(--theme-error-hover);
  &:hover {
    background-color: var(--theme-error-hover);
  }
}
