:root {
  /**
   * Root
   */
  --root-size: 100%;
  --root-size-large: 120%;

  /**
   * Container
   */

  --container-gutter: 1rem;
  --container-xxl: 1000px;
  --container-xl: 1000px;
  --container-lg: 70%;
  --container-md: 80%;
  --container-sm: 90%;
  --container-xs: 95%;
}

.hidden {
  display: none;
}
