@define-mixin stretch {
  /**
  text-align: justify;
  text-justify: inter-character;
  &::after{
    content: '';
    width: 100%;
    display: inline-block;
  }
  */
}

@define-mixin scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@define-mixin no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@define-mixin date-item {
  font-size: var(--text-sm);
  font-style: italic;
  margin-bottom: 1em;
  color: var(--colors-gray-500);

  @media (--dark) {
    color: var(--colors-gray-200);
  }
}
