:root {
  --theme-border-radius: 0.25em;

  --theme-primary: var(--colors-emerald-500);
  --theme-primary-hover: var(--colors-emerald-800);
  --theme-primary-darkmode: var(--colors-emerald-500);
  --theme-primary-darkmode-hover: var(--colors-emerald-800);
  --theme-error: var(--colors-rose-500);
  --theme-error-hover: var(--colors-rose-700);
  --theme-error-darkmode: var(--colors-rose-500);
  --theme-error-darkmode-hover: var(--colors-rose-800);
  --theme-info: var(--colors-cyan-500);
  --theme-info-hover: var(--colors-cyan-700);
  --theme-info-darkmode: var(--colors-cyan-500);
  --theme-info-darkmode-hover: var(--colors-cyan-800);
  --theme-success: var(--colors-emerald-500);
  --theme-success-hover: var(--colors-emerald-700);
  --theme-success-darkmode: var(--colors-emerald-500);
  --theme-success-darkmode-hover: var(--colors-emerald-800);

  --theme-color: var(--colors-black);
  --theme-color-darkmode: var(--colors-white);
  --theme-background-color: var(--colors-white);
  --theme-background-color-darkmode: var(--colors-black);
}
