:root {
  --colors-white: var(--colors-gray-50);
  --colors-black: var(--colors-gray-800);

  --colors-text: var(--colors-black);
  --colors-darkmode-text: var(--colors-white);

  --colors-primary: var(--colors-emerald-500);
  --colors-primary-hover: var(--colors-emerald-800);
  --colors-darkmode-primary: var(--colors-emerald-500);
  --colors-darkmode-primary-hover: var(--colors-emerald-800);

  /** Notifications */
  --colors-notify-error: var(--colors-rose-500);
  --colors-notify-error-hover: var(--colors-rose-700);
  --colors-notify-info: var(--colors-cyan-500);
  --colors-notify-info-hover: var(--colors-cyan-700);
  --colors-notify-success: var(--colors-emerald-500);
  --colors-notify-success-hover: var(--colors-emerald-700);
}
