:root {
  --font-family-sans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-serif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif,
    Liberation Serif, Georgia, serif;
  --font-family-mono: JetBrains Mono, Fira Code Retina, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

  --text-4xl: 3.052rem;
  --text-3xl: 2.441rem;
  --text-2xl: 1.953rem;
  --text-xl: 1.563rem;
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-sm: 0.8rem;
  --text-xs: 0.64rem;
  --text-xxs: 0.512rem;

  --h1: var(--text-xl);
  --h2: var(--text-lg);
  --h3: var(--text-md);
  --h4: var(--text-sm);
  --h5: var(--text-xs);
  --h6: var(--text-xs);

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}
