:root {
  --h1: 2.441rem;
  --h2: 1.953rem;
  --h3: 1.563rem;
  --h4: 1.25rem;
  --h5: 1rem;
  --h6: 0.8rem;

  --text-xxxl: 3.052rem;
  --text-xxl: 2.441rem;
  --text-xl: 1.953rem;
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-sm: 0.8rem;
  --text-xs: 0.64rem;
  --text-xxs: 0.512rem;

  --colors-transparent: transparent;
  --colors-white: theme("colors.white");
  --colors-black: theme("colors.black");

  --colors-gray-50: theme("colors.gray.50");
  --colors-gray-100: theme("colors.gray.100");
  --colors-gray-200: theme("colors.gray.200");
  --colors-gray-300: theme("colors.gray.300");
  --colors-gray-400: theme("colors.gray.400");
  --colors-gray-500: theme("colors.gray.500");
  --colors-gray-600: theme("colors.gray.600");
  --colors-gray-700: theme("colors.gray.700");
  --colors-gray-800: theme("colors.gray.800");
  --colors-gray-900: theme("colors.gray.900");

  --colors-red-50: theme("colors.red.50");
  --colors-red-100: theme("colors.red.100");
  --colors-red-200: theme("colors.red.200");
  --colors-red-300: theme("colors.red.300");
  --colors-red-400: theme("colors.red.400");
  --colors-red-500: theme("colors.red.500");
  --colors-red-600: theme("colors.red.600");
  --colors-red-700: theme("colors.red.700");
  --colors-red-800: theme("colors.red.800");
  --colors-red-900: theme("colors.red.900");

  --colors-yellow-50: theme("colors.yellow.50");
  --colors-yellow-100: theme("colors.yellow.100");
  --colors-yellow-200: theme("colors.yellow.200");
  --colors-yellow-300: theme("colors.yellow.300");
  --colors-yellow-400: theme("colors.yellow.400");
  --colors-yellow-500: theme("colors.yellow.500");
  --colors-yellow-600: theme("colors.yellow.600");
  --colors-yellow-700: theme("colors.yellow.700");
  --colors-yellow-800: theme("colors.yellow.800");
  --colors-yellow-900: theme("colors.yellow.900");

  --colors-green-50: theme("colors.green.50");
  --colors-green-100: theme("colors.green.100");
  --colors-green-200: theme("colors.green.200");
  --colors-green-300: theme("colors.green.300");
  --colors-green-400: theme("colors.green.400");
  --colors-green-500: theme("colors.green.500");
  --colors-green-600: theme("colors.green.600");
  --colors-green-700: theme("colors.green.700");
  --colors-green-800: theme("colors.green.800");
  --colors-green-900: theme("colors.green.900");

  --colors-blue-50: theme("colors.blue.50");
  --colors-blue-100: theme("colors.blue.100");
  --colors-blue-200: theme("colors.blue.200");
  --colors-blue-300: theme("colors.blue.300");
  --colors-blue-400: theme("colors.blue.400");
  --colors-blue-500: theme("colors.blue.500");
  --colors-blue-600: theme("colors.blue.600");
  --colors-blue-700: theme("colors.blue.700");
  --colors-blue-800: theme("colors.blue.800");
  --colors-blue-900: theme("colors.blue.900");

  --colors-indigo-50: theme("colors.indigo.50");
  --colors-indigo-100: theme("colors.indigo.100");
  --colors-indigo-200: theme("colors.indigo.200");
  --colors-indigo-300: theme("colors.indigo.300");
  --colors-indigo-400: theme("colors.indigo.400");
  --colors-indigo-500: theme("colors.indigo.500");
  --colors-indigo-600: theme("colors.indigo.600");
  --colors-indigo-700: theme("colors.indigo.700");
  --colors-indigo-800: theme("colors.indigo.800");
  --colors-indigo-900: theme("colors.indigo.900");

  --colors-purple-50: theme("colors.purple.50");
  --colors-purple-100: theme("colors.purple.100");
  --colors-purple-200: theme("colors.purple.200");
  --colors-purple-300: theme("colors.purple.300");
  --colors-purple-400: theme("colors.purple.400");
  --colors-purple-500: theme("colors.purple.500");
  --colors-purple-600: theme("colors.purple.600");
  --colors-purple-700: theme("colors.purple.700");
  --colors-purple-800: theme("colors.purple.800");
  --colors-purple-900: theme("colors.purple.900");
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: var(--colors-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-size: 1rem;
  height: 100%;
}

#__next {
  height: 100%;
}

pre,
code,
.code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.15;
}

h1,
.h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

small,
.small {
  font-size: var(--text-sm);
}
