.label {
  width: 100%;
  display: block;
  padding-bottom: 0.5em;
}

.label span {
  display: block;
  color: var(--colors-black);
  padding-bottom: 0.1em;
}

.label span.inline {
  display: inline;
  padding: 0 0.5em;
}

.label input {
  width: 100%;
  background-color: var(--colors-amber-200);
}

.button {
  font-weight: var(--font-semibold);
  background-color: var(--colors-gray-300);
  color: var(--colors-black);
  padding: 0.125em 0.5em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
}
