.label {
  display: block;
  padding-bottom: 0.5rem;
}

.label span {
  display: block;
  color: black;
  padding-bottom: 0.1rem;
}

.label span.inline {
  display: inline;
  padding: 0 0.5rem;
}

.button {
  font-size: 1em;
  background-color: lightslategrey;
  color: black;
  margin: 0;
  border: none;
}
