a {
  font-weight: var(--font-medium);
  color: var(--theme-primary);
  transition: color 0.2s ease;
  text-decoration: none;

  &[href]:focus,
  &[href]:hover,
  &[href]:active {
    color: var(--theme-primary-hover);
    text-decoration: none;
  }

  @media (--dark) {
    color: var(--theme-primary-darkmode);

    &[href]:focus,
    &[href]:hover,
    &[href]:active {
      color: var(--theme-primary-darkmode-hover);
    }
  }

  &.unstyled {
    color: var(--theme-color);

    &:hover {
      color: var(--theme-color);
    }

    @media (--dark) {
      color: var(--theme-color-darkmode);

      &:hover {
        color: var(--theme-color-darkmode);
      }
    }
  }
}
