a {
  font-weight: var(--font-medium);
  color: var(--colors-primary);
  transition: color 0.2s ease;
  text-decoration: none;

  &[href]:focus,
  &[href]:hover,
  &[href]:active {
    color: var(--colors-primary-hover);
    text-decoration: none;
  }

  @media (--dark) {
    color: var(--colors-darkmode-primary);

    &[href]:focus,
    &[href]:hover,
    &[href]:active {
      color: var(--colors-darkmode-primary-hover);
    }
  }

  &.unstyled {
    color: var(--colors-text);

    &:hover {
      color: var(--colors-text);
    }

    @media (--dark) {
      color: var(--colors-darkmode-text);

      &:hover {
        color: var(--colors-darkmode-text);
      }
    }
  }
}
