{% extends "emails/layouts/index.njk" %}

{% block headTitle %}Forgot Password?{% endblock %}

{% block main %}
  <mj-section>
    <mj-column>
      <mj-text><a href="{{ app_url }}{{ url | safe }}">Click the link to reset your password!</a></mj-text>
      <mj-text>{{ app_url }}{{ url | safe }}</mj-text>
    </mj-column>
  </mj-section>
{% endblock %}
