{% extends "auth/layouts/index.njk" %}

{% block main %}

  <h1>Scratchy Login</h1>

  <div x-data="{ open: false }">
    <button @click="open = !open" class="button email">Login with Email</button>

    <a href="/oauth2/google" class="button google">{% include "auth/partials/google_svg.njk" %}Login with Google</a>

    <a href="/oauth2/github" class="button github">{% include "auth/partials/github_svg.njk" %}Login with GitHub</a>

    <form action="{{ loginFormAction }}" method="POST" x-show="open">

      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <fieldset>
        <label>
          Email
          <input type="email" name="email" value="jason@raimondi.us" required>
        </label>

        <label>
          Password
          <input type="password" name="password" value="jasonraimondi" required>
        </label>

        <a href="{{ forgotPasswordLink }}">Forgot Your Password?</a>

        <div>
          <button type="submit" class="button">Login</button>
        </div>
      </fieldset>

    </form>
  </div>
{% endblock %}

{% block styles %}
  <style>
    html {
      font-family: Helvetica, Arial, sans-serif;
    }

    .button {
      background-color: tomato;
      color: white;
      padding: 0.5rem;
      text-decoration: none;
      font-weight: 600;
      border-radius: 4px;
    }

    .button svg {
      max-height: 1em;
      fill: currentColor;
      stroke: currentColor;
      margin-right: 0.3rem;
      position: relative;
      top: 2px;
    }

    .button.google {
      background-color: #4285F4;
    }

    .button.github {
      background-color: #181717;
    }

    label {
      display: block;
    }

    fieldset {
      padding: 0;
    }
  </style>
{% endblock %}

{% block headScripts %}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js" defer></script>
{% endblock %}