{% extends "auth/layouts/index.njk" %}

{% block main %}
  <h1>Scratchy Reset Password Form</h1>

  <form action="{{ formAction }}" method="POST">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="e" value="{{ e }}">
    <input type="hidden" name="u" value="{{ u }}">

    <fieldset>
      <label>
        Password
        <input type="password" name="password" value="" required>
      </label>

      <label>
        Confirm Password
        <input type="password" name="password_confirm" value="" required>
      </label>

      <div>
        <button type="submit" class="button">Submit</button>
      </div>
    </fieldset>

  </form>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}